.venv/
.idea/
.vscode/
.env
__pycache__
sample_apache_airflow/airflow_postgres_data/
sample_apache_airflow/mydb/
sample_apache_airflow/mysqltest/
sample_apache_airflow/backup/
sample_apache_airflow/logs/
